@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
/* All Used */
.btn{
  padding: 17px 40px;
  border: none;
  background-color: #E55473;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: all 1s;
}

.btn:hover{
  background-color: #c61a3f;
  transition: 1s;
}

.sec_header{
  display: block;
  align-items: center;
  text-align: center;
}
/* Header */

#head{
  background-color: rgba(229, 84, 115, 0.10);
}
.container{
  display: flex;
  max-width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;padding-top: 50px;
}

.img{
  width: 500px;
  float: left;
}

.header_h1{
  font-size: 65px;
  font-weight: 800;
}


.head_text{
  width: 600px;
}

.header_p{
  width: 500px;
  color: rgba(39, 39, 39, 0.60);
  margin: 32px 0;
}




/* Featured Flowers */


#featured{
  margin-top: 60px;
  margin-bottom: 100px;
}

.container2{
  max-width: 75%;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}



.sec_h3{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
}

.sec_p{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 166.667% */
  margin-top: 12px;
}

.fe_flo{
  align-items: center;
  text-align: center;
}

.flowers{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 48px;
  gap: 20px;
}

.hig img{
  height: 80%;
  margin-top: 50px;
}

.fe_img{
  border-radius: 300px 300px 0 0;
  padding: 30px 15px 0;
  height: 400px;
  width: 320px;
  display: flex;
}

.fe_img img{
  width: 100%;
}

.pink{
  background: rgba(167, 33, 98, 0.15);
}

.light_blue{
  background: rgba(5, 151, 160, 0.15);
}

.gray{
  background: rgba(71, 125, 17, 0.15);
}

.link{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration: underline;
  margin-top: 20px;
}





/* Service Section */
#service{
  margin-bottom: 110px;
}


.container3{
  display: flex;
  max-width: 62%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}


.bg{
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 65px 100px;
}

.delevary{
  align-items: center;
  text-align: center;
}

.delevary img{
  width: 67px;
  margin-bottom: 15px;
}

.delevary p{
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}


/*  */

.container4{
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.off{
  width: 550px;
}

.red{
  color: #E55473;
}

.off p{
  margin: 24px 0;
  color: rgba(39, 39, 39, 0.60);
}

.flower img{
  width: 300px;
}

#offer{
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 50px;
}


/* Instagram */

#instagram{
  margin-bottom: 110px;
}

.prod{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.prod img{
  width: 270px;
  border-radius: 8px;
}



/* Subscribe */


.bgimg {
  background-image: url('../images/Rectangle\ 9.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding: 50px 0;
  border-radius: 10px;
}

.form{
  display: flex;
  gap: 10px;
  width: 700px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 36px;
  margin-top: 10px;
}

form{
  padding-top: 30px;
}

.form input{
  width: 100%;
  padding: 17px;
  border: none;
  border-radius: 10px;
}

.flo{
  padding-top: 50px;
}

.bot{
  margin-bottom: 10px;
}


/* Footer */
footer{
  background-color: black;
  padding: 15px;
  margin-top: 110px;
}

.sec_h3 span{
  color: #E55473;
}

.col{
  color: rgba(255, 255, 255, 0.40);
}

.col2{
  color: white;
}


.padd{
  padding-top: 100px;
  padding-bottom: 100px;
}